*{
    font-family: 'Titillium Web', sans-serif;
}
body{
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    padding: 1em;
    border-top: 1px solid #D9D9D9;
}
a{
    color: black;
    text-decoration: none;
}
.sm-icon{
    display: flex;
    justify-content: space-between;
}
.navbar>button{
    display: inline-flex ;
    list-style: none;  
    justify-content: right;
    align-items: right;
}
.navbar__nobg{
    padding: 0 rem;
    border: 1px solid #fff;
    background: #fff;
}
.navbar__bg{
    display: flex;
    padding: 0 rem;
    width: 6em;
    height: 6em;
    border-radius: 75%;
    border: 1px solid #000;
    background: solid #000;
}